$primary-color: #001242;
$secondary-color: #FF5A5F;
$body-font: 'Montserrat',
sans-serif;
$header-font: 'Muli',
sans-serif;

* {
  box-sizing: border-box;
}

body {
  background-color: #DCDCDD;
  font-family: $body-font;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  font-size: 16px;
}

.wrapper {
  max-width: 100%;
  overflow: hidden;
}

h1 {

  text-transform: uppercase;
  color: $primary-color;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 nav {
  font-family: $header-font;
  color: $primary-color;
}



header {
  padding: 1em;
  overflow: hidden;
  background-color: $primary-color;
  opacity: .8;

}

.logo {
  font-weight: bold;
  color: #fefefe;
}

ul li a {
  color: #fefefe;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

}

.flex {
  display: flex;
}

.column {
  width: 50%;
  height: auto;
  margin: 0 10px;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}
/* Nav menu */
.nav {

  display: inline-block;
  width: 100%;
  text-align: left;
}



nav ul li {
  list-style: none;

}

.main-nav {
  display: none;
}

.main-nav li {
  margin: 10px;
}
.button {
  padding: 20px 30px;
  color: #fefefe;
}
/* Mobile Nav */

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  z-index: 10;
}

.active {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  text-align: left;
  height: 100vh;
}



/* Main Banner */
.banner {
  background-image: url("Images/background-sample.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;

}

.banner h2 {
  font-size: 1.5em;
  color: #fefefe;
}

.title {
  margin: 15px;
}

.banner {

.button {
  border: $primary-color solid 1px;

  margin: 15px;
  }

.button:hover {
  background-color: #001242;
  }
}

.button--secondarycolor {
  opacity: 1;
  background-color: $secondary-color;
}

.button--secondarycolor:hover {
  opacity: .8;
}

/* Value Form */
.value-form h2 {
  text-align: center;
}

.value-form {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
  }

  input {
    margin: 10px;
    padding: 10px;
  }

  .button {
    width: 50%;
    margin: 0 auto;
    background-color: $primary-color;
    font-size: 1em;
  }

  .button:hover {
    opacity: .8;
  }
}





/* Dotpoints */
#dotpoints {
  max-width: 100%;
  text-align: center;
  height: auto;

  h2 {
    background-color: $primary-color;
    color: white;
  }
  h2:nth-last-child(){
    background-color: white;
    color: $primary-color;
  }
}
.box {
  margin: 50px auto;
  height: 25vh;
}

  h3 {
    margin-bottom: 2r0px;
  }

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    width: 75%;
    height: 30px;
    margin: 5px;
  }
}
.box i {
  font-size: 3em;
  color: black;
}


/* Items */

.items {

 

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  ul li {
    font-size: 1.5em;
    color: $primary-color;
  }
  ul li:nth-child(even) {
      color: $secondary-color;
     
  }
}

@media screen and (min-width: 725px) {

  /* Main Nav-bar */

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;

  }
  nav ul {
    display: flex;
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }

  .nav-links:hover {
    font-weight: bolder;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  h1 {
    font-size: 3em;
  }

  .value-form {

    form {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }

    input {
      width: 25%;
    }

    .button {
      width: 25%;
      margin: 0 20px;
    }
  }
  .box {
    margin: 20px auto;
  }
  .icons {

      justify-content: center;

    .icon {
      width: 25%;
      margin: 10px;
    }
  }
  .research {
    max-width: 75%;
    margin: 0 auto;
  }
}

